@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;

    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --white-2: hsla(0, 0%, 100%, 0.416);
    --light-gray: hsl(217, 12%, 63%);
    --light-gray-2: hsla(217, 12%, 63%, 0.071);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: #262e38;
    --dark-blue-2: #182432;
    --v-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0%;
    padding: 0%;
}

.main {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: var(--v-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-state {
    background: radial-gradient(circle 10px at top center, var(--dark-blue) 20px, var(--dark-blue-2) 200px, var(--v-dark-blue) 450px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    height: 320px;
    border-radius: 22px;
}

.active-state:hover {
    background-color: var(--dark-blue);
}

.detail {
    display: flex;
    flex-direction: column;
}

.image-div {
    background-color: var(--light-gray-2);
    height: 35px;
    width: 35px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.detail img {
    position: relative;
    left: 26%;
    top: 26%;
    width: 16px;
    height: 16px;
}

.detail h2 {
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 18px;
}

.detail p {
    color: var(--white);
    font-family: var(--font-family);
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    opacity: 0.6;
    line-height: 18px;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.rate-buttons {
    margin-top: 0px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
}

.rate-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: var(--white-2);
    font-family: var(--font-family);
    background-color: var(--light-gray-2);
}


.rate-buttons button:hover {
    color: var(--white);
    background-color: var(--orange);
}

.submitt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: var(--orange);
    width: 80%;
    height: 160%;
    border-radius: 20px;
    border: none;

    color: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    letter-spacing: 1.5px;
}

.submit-button:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: -webkit-grab;
    transition: 800ms;
}